.bashrc
.directory
.env
.gcloudignore
.gitignore
.DS_Store

*.code-workspace
*.csv
*.log
*.odt
*.py[cod]
*.pdf
*.sql
*.sqlite3
*.xlsx

__pycache__/

/.idea
/.git
/.github
/.venv
/.vscode
/poetry.lock
/rest-client
/tests
/venv
